* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}

body {
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #162511;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#header-img {
  width: 50px;
  height: 50px;
}

#navbar nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#navbar nav ul li {
  margin: 0 10px;
}

#navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: #516b1c;
  transition: color 0.3s ease;
}

#navbar nav ul li a:hover {
  color: #fff;
}

#welcome-section {
  background: #2b4a25;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

#welcome-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-style: italic;
  color: #fff;
}

#welcome-section p {
  font-size: 1.2em;
  font-style: italic;
  color: #fff;
}

section {
  padding: 60px 20px;
}

.container {
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e2913;
}

#projects .project-tile {
  background: #E1E8E3;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

#projects .project-tile h3 {
  color: #4A90E2;
}

#projects .project-tile a {
  color: #223215;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#projects .project-tile a:hover {
  color: #4A90E2;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid #4A90E2;
  border-radius: 4px;
}

#contact input[type="submit"] {
  padding: 10px 20px;
  background: #4A90E2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

#contact input[type="submit"]:hover {
  background: #1C3E6B;
}

footer {
  background: #1b311d;
  color: rgb(97, 121, 103);
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  #navbar nav ul {
    flex-direction: column;
    align-items: center;
  }

  #navbar nav ul li {
    margin: 10px 0;
  }
}
